/.git/
/.github/
/.next/
/.vercel/

/bin/
/k8s/
/node_modules/
/tools/

.babelrc
.dockerignore
.env
.eslintrc.json
.gitignore
.gitmodules
.prettierrc
.stignore
.vercelignore

next-env.d.ts
tsconfig.tsbuildinfo

docker-compose.yml
Taskfile

README.md
